body,
#root {
	width: 100vw;
	height: 100vh;
}
#root {
	display: flex;
}

.App {
	flex: 1;
	display: inherit;
	position: relative;
	.list {
		color: white;
		min-width: 15%;
		left: 0px;
		z-index: 99;
		background-color: #242424;
	}
	.editor-container {
		color: #242424;
		flex: 1;
		// width: 100%;
		white-space: break-spaces;
	}
}
